*.iml
.gradle
/local.properties
.idea/
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
*.log
*.nav
*.orig
*.rej
*.swp
*.bak
*.tmp
*~
.DS_Store
